<h2>Movies</h2>
<button class="btn btn-primary" (click)="addUpdateModal.openModal()">Add</button>
<app-notifications #notification [alertClass]="alertClass" [alertMessage]="alertMessage"
                   [alertType]="alertType"></app-notifications>

<div class="row">
    <movie (edit)="onEdit($event)" (delete)="onDelete($event)" *ngFor="let m of movies" [Movie]="m"></movie>
</div>
<app-add-update-movie #addUpdateModal></app-add-update-movie>
<app-confirmation-modal #confirm1></app-confirmation-modal>
